root = "."
tmp_dir = "tmp"

[build]
  cmd = "go build -o tmp/main ."
  bin = "tmp/main"
  delay = 1000

  exclude_dir = ["assets", "tmp", "vendor", "testdata", "logs"]
  exclude_regex = ["_test.go"]

  include_ext = ["go", "tpl", "tmpl", "html"]

  log = "build-errors.log"

[color]
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  main_only = false
  silent = false
  time = false
